


/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#content {
    text-align: center;
}

h1 {
    color: palevioletred;
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
}

.line{
    background-color: orange;
    cursor: pointer;
    color: white;
    padding:  10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.line:hover {
    background-color: green;
}

.afterline1{
    background-color: chocolate;
    color: black;
}

.afterline2{
    background-color: darkblue;
    color: white;
}

.afterline3{
    background-color: rgb(116, 219, 57);
    color: white;
}

.afterline4{
    background-color: rgb(20, 19, 20);
    color: white;
}

.afterline5{
    background-color: rgb(129, 203, 213);
    color: purple;
}

#imagecontainer{
    margin-top: 20px;
}

#dynamicImage{
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,23 ,255);
}

button:hover{
    background-color: darkred;
    color: white;
} */


.p1{
    text-align: center;
    font-size: 20px;
}
.con{
 background-color: brown;
 color: whitesmoke;
 padding: 15px;
 margin: 15px auto;
 border-radius: 5px;
 display: flex;
 width: 50%;

}
h2{
    font-family: cursive;
    text-align: center;
    font-size: 30px;
   
}
body {
    /* display: flex;  */
    /* flex-direction: column;  */
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
button { margin-top: 3px;
    background-color: brown;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.close1 { margin-top: 10px;
    background-color: rgb(27, 56, 49);
    border-radius: 5px;
    padding: 5px;
}
img{
    width: 40%; height: 40%;
}
.image{
    display: none;
    /* display: flex; */
    /* justify-content: center; */
    }
    .close1{
        display: none;
    }
    #header{
        background-color: rgb(236, 84, 142);
    }

